<h1 class="titolo">Login MetaMask<br><br><h2 class="account"><span class="showAccount" [hidden]="connected"></span></h2></h1>
<div class="container">

  <div [hidden]="!connected">
    <button mat-raised-button color="primary" class="enableEthereumButton">Connect to MetaMask</button>
  </div>

  <div [hidden]="connected">
    <button mat-raised-button color="primary" class="showMyBalance">Show my balance</button>
    <h2 class="balance"><span class="showBalance"></span></h2>
  </div>

</div>

<router-outlet></router-outlet>
